Host Example
	HostName exmaple.com
	User user
	Port 22
	IdentityFile ~/.ssh/id_rsa
	IdentitiesOnly yes
	Compression yes
	Protocol 2
	ProxyCommand nc -X 5 -x 127.0.0.1:9050 %h %p
	ProxyCommand ssh gateway nc %h %p
	PubKeyAuthentication yes
	RemoteForward 2222 127.0.0.1:22 #ForwardingToRemote
	LocalForward 8080 8.8.8.8:80 #ForwardingToLocal
