*
!/.Xresources.dropdown
!/.Xresources.linuxmate
!/.Xresources.rofi
!/.Xresources.rxvt
!/.Xresources.xterm
!/.bash_alias
!/.bash_funcs
!/.bashrc
!/.bashrc.dropdown
!/.config/mpv/mpv.conf
!/.config/polybar/config
!/.config/polybar/launch.sh
!/.config/ranger/rc.conf
!/.conky/conky-bar
!/.conky/conkygit
!/.conky/conkylemon
!/.conky/conkylog
!/.conky/conkytodo
!/.conkyrc
!/.devilspie/opacity.ds
!/.dnsmasq.d/dhcp.conf
!/.dnsmasq.d/dns.conf
!/.feh/galaxy.jpg
!/.fonts/DejaVu Sans Mono Nerd Font Complete.ttf
!/.git-crypt/.gitattributes
!/.git-crypt/keys/default/0/14D8B9397A8F10DA44B00FE3B5CCF2B7D917627C.gpg
!/.gitattributes
!/.githooks
!/.gitignore
!/.i3/config
!/.ideskrc
!/.idesktop/Chromium.lnk
!/.idesktop/FedoraTwentySix.lnk
!/.install
!/.ncmpcpp/config
!/.packages
!/.postinstall
!/.repositories
!/.ssh/authorized_keys
!/.ssh/config
!/.ssh/config.sample
!/.ssh/id_rsa
!/.ssh/id_rsa.pub
!/.ssh/known_hosts
!/.tmux.conf
!/.vim/after/ftplugin/markdown/instant-markdown.vim
!/.vim/colors/data.vim
!/.vim/colors/lucario.vim
!/.vimrc
!/.xinitrc
!/.zshrc
!/README.md
