# This is Git's per-user configuration file.
[user]
	name = Vinu K
	email = kevy.vinu@gmail.com
	signingKey = B5CCF2B7D917627C
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[alias]
	lol = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
